@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

header {
    background-color: #7030CC;
}

nav {
    display: flex;
    height: 10vh;

    align-items: center;
    padding: 20px 80px;
}

.logo {
    width: 20vw;
}

.nav-items {
    width: 80vw;

    display: flex;
    justify-content: flex-end;
    gap: 50px;

    font-size: 20px;
    color: #FFFFFF;
    list-style: none;
}

.nav-items a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #1BBCEF;
    padding: 10px 30px;
}

.head-main {
    display: flex;
    height:80vh;

    align-items: center;
    justify-content: space-around;
}

.main-left {
    width: 40%;
}

.main-left h1 {
    font-size: 80px;
    color: #FFFFFF;
}

.main-left p {
    color: #FFFFFF;
    font-size: 20px;
}

.main-right img {
    width: 650px;
}

.top {
    display: flex;
    justify-content: space-around;
    margin: 160px 0;
}

.img {
    width: 40vw;
}

.top .img img {
    width: 650px;
}

.about {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card p:first-child {
    font-size: 30px;
    font-weight: 600;
}

.card p:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    margin-left: 3ch;
}

.orange{
    color: #F28A3F;
}

.green {
    color: #7ACA3A;
}

.blue {
    color: #3F9CF2;
}

.bottom > h1 {
    margin: 60px 0;
    text-align: center;
}

.feature-cards {
    display: flex;
    justify-content: space-evenly;

    height: 50vh;
    margin: 60px 0;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    width: 18%;

    border-radius: 30px;

    padding: 20px 0;
    box-shadow: 10px 0px 13px rgba(0, 0, 0, 0.17);
}

.feature-card img {
    width: 64px;
}

.content {
    text-align: center;
}
